.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureButton {
  margin: var(--ifm-paragraph-margin-bottom) 0 var(--ifm-paragraph-margin-bottom);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inDevelopmentText {
  color: #ff3350;
  font-style: italic;
}