/* Light Theme Variables */
:root {
	--black: #000000;
	--white: #ffffff;
	--color-binary: var(--black);

	--red: #ff4136;
	--yellow: #ffdc00;
	--green: #01ff70;
	--blue: #0195ff;
	--blue-hover: #2563eb;

	--color-background: #f2f2f2;
	--color-background-body: var(--white);
	--color-select: rgba(0, 0, 0, 0.067);

	--color-text: var(--black);
	--color-text-inverted: var(--white);
	--color-text-faded: #dedcd9a3;
	--color-text-ticker: #000000a3;

	--gap-small: 0.4em;
	--gap: 1em;

	--margin-small: 0.4em;
	--margin: 1em;

	--padding: 1em;
	--padding-small: 0.4em;

	--border: 1px solid rgba(0, 0, 0, 0.2);
	--border-dotted: 1px dotted rgba(0, 0, 0, 0.2);
	--border-radius: 0.4em;

	--highlight-red: var(--red);
	--highlight-blue: var(--blue);
	--highlight-yellow: var(--yellow);
	--highlight-quote: var(--red);
	--highlight-percent: 100%;

	--table-background-color: #f2f2f2;

	--font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif;

	--transform: cubic-bezier(0.785, 0.135, 0.15, 0.86);
	--animation: cubic-bezier(0.785, 0.135, 0.15, 0.86);
	--duration: 0.1s;

	--background-color-glass: color-mix(in srgb, var(--color-background) 80%, transparent);
	--backdrop-filter-glass: blur(0.8em);
}

/* Dark Theme Variables */
[data-theme='dark'] {
	--color-binary: var(--white);

	--color-background: #292b2c;
	--color-background-body: #222425;

	--color-text: #dedcd9;
	--color-text-inverted: var(--black);

	--border: 1px solid rgba(255, 255, 255, 0.2);
	--border-dotted: 1px dotted rgba(255, 255, 255, 0.2);

	--table-background-color: #121212;

	--highlight-quote: var(--white);
}

/* General */
html {
	scroll-behavior: smooth;
}

.no-scroll {
	overflow: hidden; /* Prevents scrolling */
}

body {
	margin: 0;
	background-color: var(--color-background-body);
	color: var(--color-text);
	touch-action: manipulation;
	font-family: var(--font-family);
}

/* Layout Containers */
.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: var(--padding);
}

@media (min-width: 900px) {
	.container {
		flex-direction: row;
		max-width: 1060px;
	}
}

@media (min-width: 900px) {
	.content {
		min-width: 1060px;
	}
}

/* Typography */
h1,
h2,
h3,
h4,
h5 {
	margin-top: var(--margin);
	margin-bottom: var(--margin);
}

h2 {
	border-bottom: var(--border-dotted);
	padding-bottom: var(--padding-small);

	/* border-top: var(--border-dotted); */
	/* padding-top: var(--padding-small); */
}

ul {
	margin-block-start: var(--margin);
	margin-block-end: var(--margin);
	padding-inline-start: var(--padding);
}

ol {
	overflow-wrap: anywhere;
}

/* Links */

a {
	color: var(--color-text);
}

a[href^='#'] {
	scroll-behavior: smooth;
}

/* Highlights */
.highlight {
	border-bottom: 0.2em solid var(--yellow);
}

.highlight a {
	text-decoration: none;
}

.highlight-red {
	border-bottom: 0.2em solid var(--red);
}

.highlight-blue {
	border-bottom: 0.2em solid var(--blue);
}

.highlight-yellow {
	border-bottom: 0.2em solid var(--yellow);
}

.highlight-quote {
	border-bottom: 0.2em solid var(--color-binary);
}

/* section */
.sections {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: var(--gap);
}

.section h2:first-of-type {
	margin-top: 0;
}

.section-100 {
	flex-basis: 100%;
}

.section h1 {
	margin: 0;
}

/* Paragraphs */
/* .paragraphs {
	padding: var(--padding);
	border: var(--border);
	border-radius: var(--border-radius);
	background-color: var(--background-color-glass);
	backdrop-filter: var(--backdrop-filter-glass);
} */

/* Margins */
.margin {
	border-top: var(--border-dotted);

	padding-top: 0;
}

@media (min-width: 900px) {
	.margin {
		border-top: none;
		padding: var(--padding);
		padding-top: 0;
	}
}

.marginPills {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: var(--gap-small);
	align-items: flex-start;

	margin-top: var(--margin);
}

@media (min-width: 900px) {
	.marginPills {
		position: sticky;
		top: var(--margin);

		margin-top: 0;

		padding-top: 0;
	}
}

/* Pills */
.pills {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap-small);
	align-items: center;
}

.pills a {
	text-decoration: none;
}

.pill {
	background-color: var(--blue);
	color: var(--color-text-inverted);
	padding: var(--padding);
	border-radius: var(--border-radius);
	cursor: pointer;
}

.pill:hover {
	background-color: var(--blue-hover);
}

.pill-disabled {
	cursor: not-allowed;
	opacity: 40%;
}

/* Buttons */
button {
	background-color: var(--blue);
	color: var(--color-text-inverted);
	padding: var(--padding);
	border: none;
	border-radius: var(--border-radius);

	font-size: unset;
	font-weight: unset;
	text-decoration: none;
}

button a {
	color: var(--color-text);
	text-decoration: none;
}

button:disabled {
	cursor: not-allowed;
}

button:hover {
	background-color: var(--blue-hover);
}

/* Select Inputs */
select {
	cursor: pointer;
	width: 100%;
	background-color: var(--color-select);
	color: var(--color-text);
	border: var(--border);
	border-radius: var(--border-radius);
	padding: var(--padding);
	font-size: 1em;
	line-height: 4em;
}

option {
	background-color: var(--color-background-body);
	color: var(--color-text);
}

option:disabled {
	color: var(--color-text1);
}

/* Tables */
table {
	width: 100%;
	border-collapse: collapse;
	border: var(--border);
}

th,
td {
	border: var(--border);
	padding: var(--padding-small);
}

thead > tr > th {
	background-color: var(--table-background-color);
}

tbody > tr > th {
	background-color: var(--table-background-color);
}

tbody > tr > th {
	text-align: right;
}

tbody > tr > td {
	text-align: left;
}

.title {
	/* display: flex; */
	border-bottom: var(--border-dotted);
	padding-bottom: var(--padding);
}

.title-emoji {
	padding: var(--padding);
}

.title-emoji h2 {
	padding-bottom: 0;
}

.title-text {
	border-left: var(--border-dotted);
	padding-left: var(--padding);
}

.title h1,
.title h2,
.title h3 {
	margin: 0;
	border: none;
}

/* Cards */
.cards {
	display: grid;
	gap: var(--gap);
}

@media (min-width: 900px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

.card {
	display: flex;
	align-items: center;
	justify-content: center;
	border: var(--border);
	border-radius: var(--border-radius);
	background-color: var(--background-color-glass);
	backdrop-filter: var(--backdrop-filter-glass);
}

.card h4,
ul {
	margin-top: 0;
	margin-bottom: 0;
}

.cardInfo {
	flex-grow: 1;
	margin-top: var(--margin);
	margin-bottom: var(--margin);
	padding-left: var(--padding);
	padding-right: var(--padding);
	border-right: var(--border-dotted);
}

.cardLabel {
	background: none;
	transform: rotate(90deg);
	backface-visibility: hidden;
}

/* Floating Action Button */
@media (min-width: 900px) {
	.fab {
		display: none;
	}
}
