:root {
	--width-largest: 1080px;
	--width-large: 900px;
	--width-medium: 720px;
	--width-small: 480px;
	--width-smaller: 360px;
	--width-smallest: 240px;

	--background-color: white;
	--text-color: black;
	--text-color-inverted: white;

	--gap-small: 0.2em;
	--gap: 1em;
	--margin-small: 0.2em;
	--margin: 1em;
	--margin-fab-clear: 2em;

	--padding-big: 1.2em;
	--padding: 1em;
	--padding-small: 0.4em;
	--padding-smaller: 0.2em;

	--border: 1px solid rgba(0, 0, 0, 0.2);

	--border-radius: 1em;

	--yellow: #ffdc00;
	--green: #01ff70;
	--blue: #7fdbff;
	--gray: #dddddd;

	--highlight-0: var(--yellow);
	--highlight-1: var(--green);
	--highlight-2: var(--blue);
	--highlight-q: var(--yellow);

	--highlight-percent: 80%;

	--table-background-color: #f2f2f2;

	--font-family: 'Noto Sans', 'Noto Color Emoji', sans-serif;
}

[data-theme='dark'] {
	--background-color: #222;
	--text-color: white;
	--text-color-inverted: black;

	--border: 1px solid rgba(255, 255, 255, 0.2);

	--table-background-color: #282828;

	.highlight,
	.highlight-2,
	.highlight-3,
	.highlight-q {
		color: var(--text-color-inverted);
	}
}

html {
	scroll-behavior: smooth;
}

/* Fonts */

@font-face {
	font-family: 'Noto Sans';
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
	src: url('/fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf') format('truetype-variations');
}

@font-face {
	font-family: 'Noto Color Emoji';
	font-weight: 400;
	font-style: normal;
	src: url('/fonts/Noto_Color_Emoji/NotoColorEmoji-Regular.ttf') format('truetype-variations');
}

/* Body */

body {
	margin: var(--margin);
	font-family: 'Noto Sans', 'Noto Color Emoji', sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
}

.container {
	display: flex;
	flex-direction: column;
	margin-top: var(--margin);
}

@media (min-width: 900px) {
	.container {
		flex-direction: row;
		margin-top: 0;
		max-width: var(--width-large);
		min-width: var(--width-medium);
	}
}

.content {
	min-width: var(--width-smallest);
	padding-bottom: var(--padding);
}

@media (min-width: 900px) {
	.content {
		max-width: var(--width-medium);
		min-width: var(--width-medium);
		padding: var(--padding);
		padding-left: 0;
		border-right: var(--border);
	}
}

/* Margin */

.margin {
	border-top: var(--border);
	margin-bottom: var(--margin-fab-clear);
}

@media (min-width: 900px) {
	.margin {
		border-top: none;
		padding: var(--padding);
		padding-right: 0;
	}
}

.margin p {
	margin-top: 0;
	margin-bottom: 0;
}

.marginPills {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: var(--gap-small);
	cursor: pointer;
	padding-top: var(--padding);
	padding-bottom: var(--padding);
	align-items: flex-start;
}

.marginPills-bar {
	flex-direction: row;
}

@media (min-width: 900px) {
	.marginPills {
		padding-top: 0;
		position: sticky;
		top: var(--padding);
	}

	.marginPills-bar {
		display: none;
	}
}

.marginPills button {
	cursor: pointer;
	padding: var(--padding-small);
	border: var(--border);
	border-radius: var(--border-radius);
	font-size: 1em;
	background-color: var(--background-color);
}

.navPills {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap-small);
}

.fab {
	cursor: pointer;
	position: fixed;
	bottom: var(--margin-small);
	right: var(--margin-small);
	font-size: x-large;
	border: var(--border);
	border-radius: var(--border-radius);
	padding: var(--padding-small);
	background-color: var(--background-color);
}

@media (min-width: 900px) {
	.fab {
		display: none;
	}
}

/* Buttons */

button {
	background: none;
	color: var(--text-color);
	border: none;
	padding-block: 0;
	padding-inline: 0;
	font-family: var(--font-family);
}

button a {
	color: var(--text-color);
	text-decoration: none;
}

/* Text */

a {
	color: var(--text-color);
}

a[href^='#'] {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-top: var(--margin-small);
	margin-bottom: var(--margin-small);
}

.h1-first {
	margin-top: 0;
}

ul {
	margin-block-start: var(--margin);
	margin-block-end: var(--margin);
	padding-inline-start: var(--padding-big);
}

.highlight {
	font-weight: bold;
	background-color: color-mix(in srgb, var(--highlight-0) var(--highlight-percent), transparent);
	color: var(--text-color);
	padding: var(--padding-small);
	border-radius: var(--border-radius);
}

.highlight a {
	text-decoration: none;
	color: var(--text-color-inverted);
}

.highlight-2 {
	background-color: color-mix(in srgb, var(--highlight-1) var(--highlight-percent), transparent);
}

.highlight-3 {
	background-color: color-mix(in srgb, var(--highlight-2) var(--highlight-percent), transparent);
}

.hightlight-q {
	background-color: color-mix(in srgb, var(--highlight-q) var(--highlight-percent), transparent);
}

/* Tables */
table {
	width: 100%;
	border-collapse: collapse;
	border: var(--border);
}

th,
td {
	border: var(--border);
	padding: var(--padding-small);
}

thead > tr > th {
	background-color: var(--table-background-color);
}

tbody > tr > th {
	background-color: var(--table-background-color);
}

tbody > tr > th {
	text-align: right;
}

tbody > tr > td {
	text-align: left;
}
