:root {
	--background: #f2f2f2;
	--background-color: white;

	--background-color-light: #f2f2f2;

	--text: black;
	--text-color: black;

	--gap-small: 0.4em;
	--gap: 1em;

	--margin-small: 0.2em;
	--margin: 1em;

	--padding: 1em;
	--padding-small: 0.4em;

	--border: 1px solid rgba(0, 0, 0, 0.2);
	--border-dotted: 1px dotted rgba(0, 0, 0, 0.2);
	--border-radius: 0.4em;

	--black: #000000;
	--white: #ffffff;

	--red: #ff4136;
	--yellow: #ffdc00;
	--green: #01ff70;
	--blue: #0095ff;

	--nav-bg-opacity: 1;
	--nav-blue: rgb(1 149 255 / var(--nav-bg-opacity));

	--highlight-0: var(--yellow);
	--highlight-1: var(--green);
	--highlight-2: var(--blue);
	--highlight-red: var(--red);
	--highlight-quote: var(--black);
	--highlight-percent: 100%;

	--highlight-blue: var(--blue);
	--highlight-yellow: var(--yellow);

	--table-background-color: #f2f2f2;

	--font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif;
}

[data-theme='dark'] {
	--background: #292b2c;
	--text: #dedcd9;

	--background-color: #222425;
	--background-color-light: #121212;

	--text-color: white;

	--border: 1px solid rgba(255, 255, 255, 0.2);
	--border-dotted: 1px dotted rgba(255, 255, 255, 0.2);

	--table-background-color: #121212;

	--highlight-quote: var(--white);
}

html {
	scroll-behavior: smooth;
}

/* Font */

.noto-sans-font {
	font-family: var(--font-family);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

/* Text */

a {
	color: var(--text);
}

a[href^='#'] {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
	margin-top: var(--margin);
	margin-bottom: var(--margin);
}

ul {
	margin-block-start: var(--margin);
	margin-block-end: var(--margin);
	padding-inline-start: var(--padding);
}

.highlight {
	border-bottom: 0.2em solid var(--yellow);
}

.highlight a {
	text-decoration: none;
}

.highlight-red {
	border-bottom: 0.2em solid var(--red);
}

.highlight-blue {
	border-bottom: 0.2em solid var(--blue);
}

.highlight-yellow {
	border-bottom: 0.2em solid var(--yellow);
}

.highlight-quote {
	border-bottom: 0.2em solid var(--white);
}

/* Body */

body {
	margin: 0;
	background-color: var(--background-color);
	color: var(--text);
	touch-action: manipulation;
}

.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: var(--padding);
}

@media (min-width: 900px) {
	.container {
		flex-direction: row;
		max-width: 1060px;
	}
}

@media (min-width: 900px) {
	.content {
		min-width: 1060px;
	}
}

/* section */

.sections {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: var(--gap);
}

.section h2:first-of-type {
	margin-top: 0;
}

.section-100 {
	flex-basis: 100%;
}

.section h1 {
	margin: 0;
}

/* Margin */

.margin {
	border-top: var(--border-dotted);

	padding-top: 0;
}

@media (min-width: 900px) {
	.margin {
		border-top: none;
		padding: var(--padding);
		padding-top: 0;
	}
}

.marginPills {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: var(--gap-small);
	align-items: flex-start;

	margin-top: var(--margin);
}

@media (min-width: 900px) {
	.marginPills {
		position: sticky;
		top: var(--margin);

		margin-top: 0;

		padding-top: 0;
	}
}

.pills {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap-small);
	align-items: center;
}

.pills a {
	text-decoration: none;
}

.pill {
	background-color: var(--nav-blue);

	padding: var(--padding);

	border: var(--border);
	border-radius: var(--border-radius);

	cursor: pointer;

	font-size: medium;
}

.pill-disabled {
	cursor: not-allowed;
	opacity: 40%;
}

@media (min-width: 900px) {
	.fab {
		display: none;
	}
}

/* Button */

button {
	background: none;
	background-color: var(--background);

	color: var(--text);

	border: none;

	padding-block: 0;
	padding-inline: 0;

	padding: var(--padding-small);

	font-family: var(--font-family);
	font-size: unset;
	font-weight: unset;
	text-decoration: none;
}

button a {
	color: var(--text-color);
	text-decoration: none;
}

button:disabled {
	cursor: not-allowed;
}

button:hover {
	cursor: pointer;
}

/* Select */

select {
	cursor: pointer;

	background-color: var(--background-color);
	color: var(--text-color);

	border: var(--border);
	border-radius: var(--border-radius);

	padding: var(--padding);
	font-size: 1em;
	line-height: 2em;
}

option {
	background-color: var(--background-color);
	color: var(--text-color);
}

option:disabled {
	color: var(--text-color);
}

/* Table */

table {
	width: 100%;
	border-collapse: collapse;
	border: var(--border);
}

th,
td {
	border: var(--border);
	padding: var(--padding-small);
}

thead > tr > th {
	background-color: var(--table-background-color);
}

tbody > tr > th {
	background-color: var(--table-background-color);
}

tbody > tr > th {
	text-align: right;
}

tbody > tr > td {
	text-align: left;
}

/* Card */

.cards {
	display: grid;
	gap: var(--gap);
}

@media (min-width: 900px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

.card {
	border-top: var(--border-dotted);

	padding-top: var(--padding);
	padding-bottom: var(--padding);
}

.card h4,
ul {
	margin-top: 0;
	margin-bottom: 0;
}

.cardLabel {
	display: flex;
	align-items: center;
}

.cardName {
	flex-grow: 1;
}
